@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/typography' as *;

.home {
    @include text-colour;
    @include mukta;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    &__titleContainer{
        margin: auto;
        @include tablet-breakpoint {
            display: flex;
            justify-content: flex-start;
            padding: 3rem 0 0 3.25rem;
            margin: 0;
        }
        @include desktop-breakpoint {
            padding: 3rem 0 0 6.5rem;
            flex-direction: row;
            flex-wrap: wrap;

        }
    }
    &__title {
        @include raleway;
        padding: 1.5rem 1rem 0.5rem 1rem;
        @include tablet-breakpoint {
            display: flex;
        }
    }
    &__contentContainer {
        @include tablet-breakpoint {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;            
            padding-top: 3rem;
        }
        @include desktop-breakpoint {
            margin: auto;
            padding: 2rem 3rem;
            display: flex;
            flex-direction: row;
        }
    }
    &__imageContainer {
        padding: 1rem;
        display: flex;
        justify-content: center;
        @include tablet-breakpoint {
            padding: 5rem 2rem 3rem 1rem;
        }
        @include desktop-breakpoint {
            padding: 2rem 6rem 5rem 6rem;
        }
    }
    &__image {
        height: 50vh;
        width: auto;
        object-fit: cover;
        @include desktop-breakpoint {
            height: 60vh;
        }
        &--two {
            height: 45vh;
            @include tablet-breakpoint {
                height: 50vh;
            }
            @include desktop-breakpoint {
                height: 55vh;
            }
    
        }
    }
}