@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/typography' as *;

.home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    @include text-colour;
    @include mukta;
    @include tablet-breakpoint {
        justify-content: flex-start;
    }
    &__title {
        padding: 1.5rem 1rem 0.5rem 1rem;
        @include tablet-breakpoint {
            padding: 1.75rem 4rem;
        }
    }
    &__image {
        height: 50vh;
        width: auto;
        padding: 1rem;
        @include tablet-breakpoint {
            margin: auto;
            padding: 1.75rem 4rem;
            height: 75vh;
        }
    }
}