@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/typography' as *;

.home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include text-colour;
    @include mukta;
    @include tablet-breakpoint {
    }
    &__title {
        padding: 1.5rem 1rem 0.5rem 1rem;
        @include tablet-breakpoint {
            display: flex;
            justify-content: flex-start;
            padding: 1.75rem 4rem;
        }
    }
    &__imageContainer {
        @include tablet-breakpoint {
            // display: flex;
            justify-content: flex-end;
            // margin: auto;
            // padding: 1.75rem 4rem;    
        }
    }
    &__image {
        height: 50vh;
        width: auto;
        object-fit: cover;
        @include tablet-breakpoint {
            height: 75vh;
        }
        &--two {
            height: auto;
            width: 85%;
            object-fit: contain;
            margin: auto;
            @include tablet-breakpoint {
                padding: 1.75rem 2rem;
                width: 65%;
            }
            @include desktop-breakpoint {
                width: 50%;
            }
        }
    }
}