// BREAKPOINTS

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;


@mixin tablet-breakpoint {
    @media screen and (min-width: $tablet-breakpoint){
        @content;
    }
}

@mixin desktop-breakpoint {
    @media screen and (min-width: $desktop-breakpoint){
        @content;
    }
}

// Font Family

@mixin raleway {
    font-family: 'Raleway';
}

@mixin mukta {
    font-family: 'Mukta';
}

// COLOURS

@mixin main-colour {
    background-color: #183A1D;
}

