@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/typography' as *;

.paragraph {
    padding: 1rem;
    line-height: 1rem;
    text-align: start;
    @include tablet-breakpoint {
        padding: 1rem 4rem;
    }
}
