@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/typography' as *;

.about {
    @include mukta;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    &__titleContain {
        margin: auto;
        @include tablet-breakpoint {
            display: flex;
            justify-content: flex-start;
            padding: 3rem 0 0 3.25rem;
            margin: 0;
        }
        @include desktop-breakpoint {
            padding-top: 3rem;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
    &__title {
        @include raleway;
        padding: 1.5rem 1rem 0.5rem 1.5rem;
        @include tablet-breakpoint {
            display: flex;
        }
        @include desktop-breakpoint {
            padding: 1.5rem 0.75rem 0 0;
            font-size: 2.5rem;
        }
    }
    &__contentContain {
        @include tablet-breakpoint {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;            
            padding-top: 3rem;
        }
        @include desktop-breakpoint {
            margin: auto;
            padding: 2rem 3rem;
            display: flex;
            flex-direction: row;
            justify-content: center;

        }
    }
    &__paragraph {
        @include tablet-breakpoint {
           display: flex;
           flex-direction: row;
           padding: 0;
        }
        @include desktop-breakpoint {
            padding-top: 8rem;
        }
    }
    &__imageContain {
        padding: 1rem;
        display: flex;
        justify-content: center;
        @include tablet-breakpoint {
            padding: 1.5rem 2rem 5rem 2rem;
        }
        @include desktop-breakpoint {
            padding: 0 6rem 0 4.5rem;
        }
    }
    &__image{
        height: 50vh;
        width: auto;
        object-fit: cover;
        @include desktop-breakpoint {
            height: 60vh;
        }
    }
}