@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/typography' as *;

.header {    
    @include raleway;
    @include text-colour;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0 1rem 0;
    @include tablet-breakpoint {
        align-items: flex-start;
        color: #FFF;
        padding: 2.25rem 4rem 0.75rem 4rem;
    }
    @include desktop-breakpoint {
        padding: 3.5rem 6rem 0.5rem 6rem;
    }
        background-image: url(../../Assets/Images/verne.jpg);
        background-size: cover;
        background-position: center;
    &__title {
        margin-top: 4.68rem;
        padding-bottom: 0.5rem;
        @include desktop-breakpoint {
            font-size: 3rem;
        }
    }
}