@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/typography' as *;

.header {    
    @include raleway;
    @include main-colour;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0 0 0;
    @include tablet-breakpoint {
        align-items: flex-start;
        padding: 2.25rem 4rem;
    }
    @include desktop-breakpoint {
        padding: 3.5rem 6rem;
    }
    &__title {
        padding-bottom: 0.5rem;
        @include desktop-breakpoint {
            font-size: 3rem;
        }
    }
    &__subTitle {
        @include desktop-breakpoint {
            font-size: 1.5rem;
        }
    }
}