@use '../../Styles/Partials/mixins' as *;
@use '../../Styles/Partials/typography' as *;

.navbar {
    &__container {
        @include raleway;
        display: flex;
        list-style-type: none;
        justify-content: center;
        padding: 2rem 0 0.5rem 0;
        @include tablet-breakpoint {
            padding-top: 1rem;
        }
    
    }
    &__link {
        padding: 0 0.75rem;
        justify-content: center;
        color: #fff;
        text-decoration: none;
    }
}